@media (min-width:576px) {}

@media (max-width: 768px) {
    .sponsored-logos {
        flex-direction: column;
    }

    .sponsor {
        margin: 10px 0 5px 0;
    }

    .wsize1 {
        width: 350px;
        height: 250px;
        top: -10px;
        left: -1px;
    }

    .slide img {
        height: 30vh;
    }
}

@media (min-width:992px) {}

@media (min-width:1400px) {}

@media (min-width:1200px) {}